* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

}

body {
  line-height: 1.5;
  font-weight: 400;
  background-color: #EFEFEF;
}

p {
  font-size: 0.9rem;
}

/* ----------NAVBAR------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
    align-items: center;
    padding: 1rem;
}

.naomi-logo {
  color: #000;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.naomi-logo span {
  font-size: 2rem;
  line-height: 1.1;
}

.nav-button button {
border: 2px solid orange;
  background: orange;
    color: white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 28px;
}


@media screen and (min-width: 700px) {

  .navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin: 2% 5%;
  }
  .nav-button {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }

  .nav-button button {
    padding: 15px 20px;
    background: orange;
    text-transform: uppercase;
border: 2px solid orange; 
color: white;
    font-size: 1vw;
    border-radius: 28px;
  }

  /* .nav-button button:hover {
    border-bottom: 2px solid red;
    cursor: pointer;
  } */
}

/* ----------HEADER------------- */

.container {
  margin: 3rem 2rem;
}

.container img {
  width: 100%;
}

.tools-used {
  padding: 1rem 0;
}

.project-description {
  padding: 1.3rem 0;
}

.fa-brand,
.fa-solid {
  padding-left: 0.8rem;
}

@media screen and (min-width: 700px) {

  /* figure out alignment */

  .container {
    display: flex;
margin: 5% 13%;
  }

  .project-description-container {
    flex-direction: column;
    padding: 4rem 2rem 0 2rem;
  }

  .container img {
    width: 45vw;
  }
}



/* ----------GOALS & PURPOSE------------- */

.goals-purpose {
  text-align: center;
  line-height: 1.5;
  margin: 0 2rem;
  padding: 2.5rem 0;
}

.goals-purpose h2 {
  padding-bottom: 1.5rem;
  color: #82AEB1;

}

@media screen and (min-width: 700px) {

  .goals-purpose {
    text-align: center;
    padding: 4rem 25%;

  }
  
  .goals-purpose h2 {
    padding-bottom: 1.5rem;
    font-size: 2rem;
  }
}

/* ----------PHOTO COLLAGE------------- */

.photos img, .photo img{
  width: 100%;
  margin-bottom: 1rem;
}
.photos, .photo {
  padding: 0 1rem;
}

@media screen and (min-width: 700px) {
  .photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 2rem;
  }

  .photos img, .photo img{
    margin-bottom: 3rem;
  }

  .photos img {
    width: 45vw;
  }

  .photo img {
    width: 100%;
    padding: 0 3%;
  }

  .photo {
    margin: 0 auto;
  }


}

/* ----------Problems / Solutions / What I Learned------------- */

.problem-solutions, .what-i-learned {
  margin: 3rem 2rem;
}

.what-i-learned {
  text-align: right;
}

.problem-solutions h1, .what-i-learned h1 {
  padding-bottom: 1.3rem;
  color: #82AEB1;

}

@media screen and (min-width: 700px) {
  .problem-solutions, .what-i-learned {
    margin: 5rem 15%;
  }
  
}

/* ----------OTHER PROJECTS------------- */

section {
  background-color: #979797;
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.project-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.project-section img {
  width: 100%;
}

.project-txt {
  padding: 1rem;
  color: #fff;
}

.project-txt h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

.project-txt p {
  padding-top: 1.56rem;
  letter-spacing: 1;
  font-weight: 300;
  font-size: 1rem;
}

.view-project {
  border: none;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-left: 27%;
  width: 100%;
  font-size: 0.9rem;
}

@media screen and (min-width: 700px) {
  
  .project-container {
    flex-direction: row;
    gap: 5rem;
  }

  .project-txt h2 {
    padding-top: 1rem;
  }

  .view-project {
    text-align: right;
    margin-left: 3%;
  }
}


/* ------------PROJECTS | Footer------- */

footer {
  width: 100%;
  background-color: #222;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 3rem;
}

footer h1 {
  font-size: 1.5rem;
  padding-top: 1rem;
}

footer p {
  text-align: right;
  padding-top: 2rem;
}

.back-to-top {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 700px) {

 .footer-container {
   padding: 7% 12%;
   flex-direction: row;
   align-items: center;
 }

 footer h1 {
   font-size: 3.7vw;
   padding-right: 1rem;
   font-weight: 600;
 }

 footer p {
   font-size: 1rem;
   padding-left: 1rem;
 }
}

/* HOME - PAST FOOTER */

#shadow-host-companion {
  display: none;
}
