* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  line-height: 1.5;
  font-weight: 400;
}

/* Navigation Bar */

#nav-container {
  display: flex;
  justify-content: right;
  background-color: #222222;
  color: white;
  padding: 1em;
}

.nav-links {
  display: flex;
  gap: 1.875rem;
}

.nav-links h1 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1;
}

/* Header */

.header-container {
  position: relative;
  padding-top: 8rem;
  background-color: #EFEFEF;

}

.header-txt {
  padding-left: 6.2rem;
  text-align: left;
  position: absolute;

}

header h1 {
  font-size: 5.625rem;
  padding-bottom: 1rem;
  line-height: 1.3;
}

header p {
  font-size: 2rem;
}

header img {
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding-top: 18%;
}

/* Project */


.project-container {
  height: 70vh;
  background-color: #979797;
}

.project-container {
  font-size: 2rem;
}

