* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  line-height: 1.5;
  font-weight: 400;
}

/* RESPONSIVE NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
}

.toggle-button {
  position: absolute;
  top: 0.5rem;
  right: 3rem;
  /* display: none; */
  flex-direction: column;
width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: 0.31rem;
}

.navbar-links ul {
  margin: 0;
  display: flex;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}



/* Navigation Bar */

#nav-container {
  display: flex;
  justify-content: right;
  background-color: #222222;
  color: white;
  padding: 3rem;
}

.nav-links {
  display: flex;
  gap: 1.875rem;
}

.nav-links h1 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1;
}

/* Header */

.header-container {
  position: relative;
  padding-top: 13rem;
  background-color: #EFEFEF;

}

.header-txt {
  padding-left: 6.2rem;
  text-align: left;
  position: absolute;

}

header h1 {
  font-size: 5.625rem;
  padding-bottom: 1rem;
  line-height: 1.3;
}

header p {
  font-size: 2rem;
}

header img {
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding-top: 18%;
}

/* Project */

section {
  height: 65vh;
  background-color: #979797;
  font-size: 2rem;
  padding-top: 10rem;
}

.project-container {
  background: #D9D9D9;
  width: 70%;
  height: 65rem;
  margin: 0 auto;
  border-radius: 70px;
}

.project-container img {
  width: 100%;
  height: 55%;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

.project-txt {
  padding: 3.8rem 3.125rem 0 3.75rem;
}

.project-txt p {
  padding-top: 1.56rem;
  letter-spacing: 1;
}

.footer p {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding-top: 5rem;
}


